.input {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    height: 4rem;

    &__field {
        font-family: inherit;
        outline: none;
        padding: .8rem 1rem;
        border: none;
        border-radius: .5rem;
    }

    &__label {
        margin-left: .5rem;
        display: block;
        order: -1;
        transition: all .3s;
        position: absolute;
        top: -1rem;
        background-color: #fff;
        padding: 0 .5rem;
    }
}