@for $i from 1 through 10 {
    $grid-template-columns: repeat($i, min-content);
    .grid--#{$i} {
        grid-template-columns: [columns-start] $grid-template-columns [columns-end];
    }
}

.grid {
    display: grid;

    &-cell {
        border: .1rem solid #ccc;
        padding: .5rem;
        width: 100%;
    }

    &__header {
        display: contents;

        .react-resizable {
            display: flex;
            min-width: 100% !important;
    
            &-handle-se {
                opacity: 1;
                background-color: #000;
                height: 100%;
                width: .5rem;
                cursor: col-resize;
                transition: all .2s;
            }
        }
    }

    &__data {
        display: contents;
    }
}